<h1>Friends#index</h1>
<%= link_to "new", new_friend_path %>

<p>
  <% @friends.each do |friend| %>
    <p>
    <%= friend.name %>
    <%= friend.email %>
    <%= friend.trust %>
    </p>
  <% end %>
</p>